.box{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: animacion;
    animation-duration: 10s;
    animation-timing-function: linear;
    /* animation-delay: 2s; */
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}


@keyframes animacion {
    0%{
        transform: translate(0px, 0px);
    }

    25%{
        transform: translate(500px, 0px)
    }

    50%{ 
       transform: translate(500px, 500px)
    }

    75%{
       transform: translate(0px, 500px);
    }

    100%{
        transform: translate(0px, 0px);
    }
}